// Define Primodial Colors
$black: #000000;
$white: #ffffff;

// Define Theme Colors
$emoMaroon: #780001;
$emoGrey: #5e5e5e;

$emoBurgundy: #3d1c29;
$emoPurple: #a26681;
$emoPink: #eb8383;

$emoLightGrey: #ebebeb;
$emoLightRed: #d00000;
$emoDarkGrey: #8d8d8d;
$emoDarkMaroon: #630101;
$emoMidGrey: #bfbfbf;
$emoGreen: #0bc423;
$emoYellow: #d3d61a;
$emoOrange: #e06a09;
