.ant-table {
  table {
    border-radius: 0px;
  }

  &-thead > tr > th {
    background-color: $emoLightGrey;
    @include font('', '', 600, $black);
  }

  &-thead > tr:first-child > th:first-child,
  &-thead > tr:first-child > th:last-child {
    border-radius: 0px;
  }

  &-thead
    > tr
    &-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-tbody
    > tr
    &-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-thead
    > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-tbody
    > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td {
    background: lighten($emoLightGrey, 5%) !important;
  }

  &-tbody > tr > td {
    background-color: $white;

    a {
      @include font('', '', '', $emoMaroon);
    }
  }

  // Begin Highlight Cases
  &-tbody > tr.urgent-priority > td {
    color: #fff;
    animation: blinkingText 5s infinite;
    a {
      @include font('', '', '', $emoMaroon);
    }
  }

  &-thead
    > tr.urgent-priority
    &-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-tbody
    > tr.urgent-priority
    &-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-thead
    > tr.urgent-priority:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-tbody
    > tr.urgent-priority:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td {
    background: lighten(#f9cbcb, 5%) !important;
  }

  &-tbody > tr.important-priority > td {
    background-color: #fffcdf;

    a {
      @include font('', '', '', $emoDarkGrey);
    }
  }

  &-thead
    > tr.important-priority
    &-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-tbody
    > tr.important-priority
    &-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-thead
    > tr.important-priority:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td,
  &-tbody
    > tr.important-priority:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td {
    background: lighten(#fffcdf, 2.5%) !important;
  }

  &-row-expand-icon {
    width: 28px;
    height: 28px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    border: 1px solid $emoLightGrey;
    @include font(16px, 20px, 400, '');

    &:hover,
    &:focus {
      @include font('', '', '', $emoMaroon);
    }
  }
}

.user-details {
  &-name,
  &-value {
    @include font(14px, 20px, 400, $emoGrey);
  }

  &-name {
    margin-right: 8px;
    @include font('', '', 600, '');
  }

  &-value {
    width: 100%;
    word-wrap: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@keyframes blinkingText {
  0% {
    background-color: #ff9999;
    color: #000000;
  }
  25% {
    background-color: #f08080;
    color: #000000;
  }
  50% {
    background-color: #ffa07a;
    color: #000000;
  }
  100% {
    background-color: #f08080;
    color: #000000;
  }
}
